.usernames{
  color:lightblue;  
  font-weight:700;
}

#profilepage{
  left:75px;
}

h1{
  color:white;
}

nav{
  background-color:black;
  height:50px;
  position:relative;
}

a{
  color:black;
  font-weight:700;
  position:absolute;
  top: 10px;
  background-color: yellow;
}

body{
  background-color: grey;
}

img{
  width:100px;
  height:100px;
  border: 10px solid transparent;
}
